<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_header_bg }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}">
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}
  {% render 'css-variables' %}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'style_custom.css' | asset_url | stylesheet_tag }}

  <script>
    window.theme = window.theme || {};

    theme.strings = {
      stockAvailable: {{ 'products.product.stock_available' | t: count: '1' | json }},
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      noStockAvailable: {{ 'products.product.stock_unavailable' | t | json }},
      willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
      willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
      totalCartDiscount: {{ 'cart.general.savings_html' | t: price: '[savings]' | json }},
      addressError: {{ 'sections.map.address_error' | t | json }},
      addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
      addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
      authError: {{ 'sections.map.auth_error_html' | t | json }},
      slideNumber: {{ 'homepage.hero.slide_number' | t: slide_number: '[slide_number]' | json }}
    };

    {%- if template == 'collection' -%}
      {%- if current_tags -%}
        {%- capture tag_handles -%}
            {%- for tag in current_tags -%}
              {{- tag | handle | append: '|' -}}
            {%- endfor -%}
        {%- endcapture -%}
      {%- endif -%}
      theme.backToCollection = {
        collection: {
          title: {{ collection.title | json }},
          link: "{{ shop.url }}{{ collection.url }}{%- if current_tags -%}/{{- tag_handles | split: '|' | join: '+' -}}{%- endif -%}"
        }
      };
      sessionStorage.setItem("backToCollection", JSON.stringify(theme.backToCollection.collection));

    {%- elsif template != 'product' -%}
      if (sessionStorage.getItem("backToCollection")) {
        sessionStorage.removeItem("backToCollection")
      }
    {%- endif -%}
  </script>

  <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>

  {% if request.page_type contains 'customers/' %}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {% endif %}

  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>

  {% if request.page_type == 'product' or request.page_type == 'cart' or request.page_type == 'index' %}
    <script>
      window.theme = window.theme || {};
      theme.moneyFormat = {{ shop.money_format | json }};
    </script>
  {% endif %}

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}
</head>

<body onload="load()" class="template-{{ request.page_type | handle }}" >

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">
    {{ 'general.accessibility.skip_to_content' | t }}
  </a>

  {% section 'header' %}

  <div class="page-container page-element is-moved-by-drawer">
    <main class="main-content" id="MainContent" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </div>

  <script id="QuantityTemplate" type="text/template">
    {% raw %}
      <div class="js-qty">
        <input type="text" value="{{ value }}" id="{{ key }}" name="{{ name }}" pattern="[0-9]*" data-line="{{ line }}" class="js-qty__input" aria-live="polite">
        <button type="button" class="js-qty__adjust js-qty__adjust--minus" aria-label="{% endraw %}{{ 'cart.label.decrease_quantity' | t }}{% raw %}">
          {% endraw %}{% include 'icon-minus' %}{% raw %}
          <span class="icon__fallback-text">−</span>
        </button>
        <button type="button" class="js-qty__adjust js-qty__adjust--plus" aria-label="{% endraw %}{{ 'cart.label.increase_quantity' | t }}{% raw %}">
          {% endraw %}{% include 'icon-plus' %}{% raw %}
          <span class="icon__fallback-text">+</span>
        </button>
      </div>
    {% endraw %}
  </script>

  {% if request.page_type == 'product' %}
    <div id="ProductModal" class="modal">
      <div class="modal__inner">
        <img src="" id="ProductZoomImg" class="product-modal__image">
      </div>
      <button type="button" class="modal__close js-modal-close text-link">
        {% include 'icon-close' %}
        <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
      </button>
    </div>
  {% endif %}

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
    <li id="a11y-slideshow-info">{{- 'homepage.hero.navigation_instructions' | t -}}</li>
  </ul>
  

<script>

  var mod_box = document.getElementById("personalize_block");
  var per_button = document.getElementById("personalize_button");
  var close_button = document.getElementById("close_block");
  
  
  
  per_button.onclick = function () {
      mod_box.style.display = "block"
  }
  close_button.onclick = function () {
      mod_box.style.display = "none"
  }

            function writing (){
              
              let a = document.getElementById('input1');
              let b = document.getElementById("text_svg");
              let c = document.getElementById("text_svg2");

              b.innerHTML=a.value;
              c.innerHTML=a.value;

            }
 
 
  // 		function for c
  
  function save_edit_pic() {
   
      const data = document.getElementById('input1').value;
  
      const data_head = document.getElementById('product_title').innerHTML;
      const cookie = document.cookie = "" + data_head + "=" + data + "; expires=Tues, 20 Dec 2022 12:00:00 UTC";

      localStorage.setItem(data_head, data);
      mod_box.style.display = "none"
  
  }
  function load() {
  
      const data_head = document.getElementById('product_title').innerHTML;
      const c = localStorage.getItem(data_head);
      const a = document.getElementById('input1');
      const a2 = document.getElementById('text_svg');
      const a3 = document.getElementById('text_svg2')
      
  
     a.value=c;
     a2.innerHTML=c;
     a3.innerHTML=c;

    //  setting max value of input tag 

     const proudct_tags = document.getElementById('p_t');
     const product_tags_array= proudct_tags.innerHTML.split(",");
     const input = document.getElementById('input1');

     const object1 = {
      bracelet: 40,
      watch: 8
      };

      for (const [key, value] of Object.entries(object1)) {
          
       for (let i=0; i<product_tags_array.length; i++){

           if(`${key}` ==  product_tags_array[i]){

                  input.maxLength=`${value}`;

           }
              
        }

        
      }

    //  setting path for curve
    const path_id=document.getElementById('curve');
    const paths_objects={
      top_curve:"M88,194 C209,174 391,240 428,293",
      down_curve_2:"M69,262 C197,336 389,299 416,261",
      down_curve:"M65,272 C176,339 380,312 431,270",
      watch_middle:"M195,275 C212,275 248,275 275,275"
    };
    console.log(product_tags_array);
    const svg_tag= document.getElementById('curve');
    for (const [key, value] of Object.entries(paths_objects)) {
          
          for (let i=0; i<product_tags_array.length; i++){


   
              if(`${key}` ==  product_tags_array[i]){
   
                     svg_tag.setAttribute('d',`${value}`);
   
              }
                 
           }
   
           
         }
    // path_id.setAttribute('d')="M69,262 C197,336 389,299 416,261";
    //for setting color of svg text;
    const col = document.getElementById("color_svg_1");
    const colo = document.getElementById("color_svg_2");
    if(product_tags_array.includes("watch")){

      col.style.fill="white";
      colo.style.fill="white";

    }
    
  }

 
  
  
     
      </script>
</body>
</html>
